.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  border: solid rgb(255, 174, 0) 2px;
  min-width: 25vw;
  min-height: 25vw;
  max-width: 25vw;
  max-height: 25vw;
  padding: 20px;
  margin: 1vw;
  box-shadow: 4px 14px 14px 4px rgb(255, 174, 0, 0.5);
}

.product-card > .card-header-image > img {
  max-width: 35vw;
  max-height: 15vh;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 20px rgb(255, 174, 0, 0.2) !important;
}


.product-card > .card-body {
  color: green;
  flex : 0 !important;
}

/* .product-card > .card-footer-price {
  position: relative;
  color: black;
  border-top: solid rgb(0, 0, 0, 0.1) 2px;
  width: 100%;
} */

.card-footer-price > .price-tag {
  font-size: 2em;
}


.card-footer-add-to-cart > button {
  background-color: rgb(255, 174, 0);
  width: 5vw;
  height: 40px;
  position: relative;
  bottom: -1vh;
  float: left;
  border-radius: 5%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Fascinate', cursive;
}

.card-footer-plus-minus-peices {
  float: right;
  width: 10vw;
  margin-left: 5.6vw;
  margin-right: 0;
}
.card-footer-plus-minus-peices > button {
  color: rgb(255, 174, 0);
  font-size: 25px;
  font-weight: bold;
  margin: 6%;
  background-color: rgba(255, 253, 253, 0.2);
  width: 15%;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 200px;
}

.card-footer-plus-minus-peices > .amount-of-peices {
  background-color: rgba(102, 101, 101, 0.2);
  width: 15vw;

  padding: 10px 20px 10px 20px;

  font-weight: bold;
  border: solid gold 2px;
}

.quantityError {
    color: red;
  font-weight: bold;
  margin-bottom: 2vw;
}

.adminEditProductBtn {
  /* position: relative; */
  /* float: right; */
  width: 10%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* bottom: 5px; */
  /* left: 10px; */
  font-size: 15px;
}

.adminEditProductBtn > svg {
  height: 30px;
  width: 40px;
}

.adminEditProductBtn:hover svg {
  color: red;
  transition: 0.5s;
}

.card-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width : 600px){
 img{
 max-width: 15vw;
  }
  .product-card *{
    font-size: 15px;
  }

  .product-card{
    max-width: 75vw;
    max-height: 150vh;
  }
  .card-footer > *{
    flex-basis: 100%;
    width: 45%;
  }
  .card-footer-plus-minus-peices{
    width:55vw;
  }

  .addToCart{
    min-width: 25vw;
    margin-left: 15vw;
  }
}